﻿<div class="p-4">
    <div class="container">
        <h1>Welcome {{user.firstName}}!</h1>
        <p>Please visit USERS for requested data</p>
        <p><a routerLink="/users">Data viewer</a></p>
    </div>
</div>
